<div *ngIf="this.globals.role">
<form ngForm="form" (submit)="mySubmit()">

  <input type="hidden" name="id" [(ngModel)]="service.user.id">
  <input type="hidden" name="state" [(ngModel)]="service.user.state">
  
  <div class="form-group">
      <label for="name">Name Of User: </label>
      <input type="text" name="name" [(ngModel)]="service.user.name"  class="form-control">
  </div>

    <input type="submit" class="btn btn-dark btn-lg" value="Save New User">

</form>
</div>






<div *ngIf="this.globals.role">
<hr size="100" color=black>
<form ngForm="form" (submit)="Logout()">
      <input type="submit" class="btn btn-dark btn-lg" value="Logout">
</form>
</div>

