<div class="container-fluid mt-5 mr-5">

  <div class="row">
    <div class="col-md-6">
      <app-login></app-login>
    </div>

    <div class="col-md-6">
      <app-registeration></app-registeration>
    </div>

  </div>

</div> 

<hr size="100" color=black>


    <div class="container-fluid mt-5 mr-5">

  <div class="row">
    <div class="col-md-6">
      <app-user-item></app-user-item>
    </div>

    <div class="col-md-6">
      <app-user-list></app-user-list>
    </div>

  </div>

</div> 
